@import "../../style/variable.scss";

.container {
    @extend .allContainer
}

.btnContainer {
    display: flex;
    justify-content: right;
}

.priceContext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.price {
    color: $color1;
    font-size: 1.5rem;
}